*{
    box-sizing:border-box;
    margin:0;
    padding:0
}
:root {
    --netflix-red: #E50914;
    --netflix-red-hover: #F40612;
    --netfix-black: #141414;
    --netflix-dark: #00000;
    --text-white: #FFFFFF;
    --text-gray: #737373;
    --input-bg: #333333;
    --input-border: #454545;
}
body{
    font-family:Arial, sans-serif;
    background:url("")
     center/cover no-repeat;
    color:var(--text-white);
}

.header{
    display:flex;
    align-items: center;
    justify-content: space-between;
    padding:20px 40px;
    background:rgba(0,0,0,0.5);
}

.logo{
    color:var(--netflix-red);
    font-weight: bold;
    font-size:28px;
    letter-spacing:2px;
}
.btn-sign in{
    background:var(--netflix-red);
    padding: 8px 16px;
    border-radius:4px;
    text-decoration:none;
    color:white;
}
#hero{
    height:100vh;
    display:flex;
    justify-content: center;
    align-items: center;
}
.sign in card{
    background:var(--netflix-dark);
    padding:60px;
    border-radius:8px;
    width:100%;
    max-width:450px;
}
form{
    display:flex;
    flex-direction: column;
}
input{
    margin:10px 0;
    padding:14px;
    border:none;
    background:var(--input-bg);
}